################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Clean Vehicle Credit Checker Beta/.vs/Clean Vehicle Credit Checker Beta
/Clean Vehicle Credit Checker Beta/Clean Vehicle Credit Checker Beta.sln
